@model bibliotecaModel.ModelPets

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>ModelPets</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_pet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_pet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome_pet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_pet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ft_pet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ft_pet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nasc_pet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nasc_pet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RGA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_cli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_cli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_raca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_raca)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Atualizar", new { id = Model.id_pet }) 
    @Html.ActionLink("Back to List", "Index")
</p>
